<div class="container marketing" data-aos="fade-down" style="margin-top: 150px;">
  <div class="row" data-aos="fade-up">
    <div class="row featurette" data-aos="fade-left">
      <div class="col-md-7">
        <h2 class="featurette-heading">About us </h2>
        <h3 class="text-muted"> Planning your trip has never been so easy!</h3>
        <p class="lead">Create a fully customized day-by-day itinerary and discover the hidden gems of Saudi Arabia.
          Select your destinations, the date of your trip and the local attractions you want to discover. </p>
      </div>
      <div class="col-md-5">
        <img src="/img/aboutus.webp" />
      </div>
    </div>
  </div>
</div>
</div>