<main>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <video data-single-video-element="" playsinline="" muted="muted" loop=""
          poster="/content/dam/ibc/landing-page/resized/Saudi%202020_Images-1920x1080px7.jpg"
          style="object-position: center center" autoplay="autoplay"
          video-mobile-src="/content/dam/ibc/videos/mob/KSA_Tourism_2_60s_Arabic_Vertical.mp4">
          <source src="../video/Saudi_video.mp4" type="video/mp4">
        </video>
        <div class="container">
          <div class="carousel-caption">
            <h1>Explore More Places</h1>
            <p id="p-txt">The Best Ways To Explore A New City Places</p>
            <p><a class="btn btn-lg btn-primary" href="/post/add" tabindex="-1" aria-disabled="true">Post Your Trip</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Marketing messaging and featurettes
    ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing" data-aos="fade-up">

    <!-- Three columns of text below the carousel -->
    <div class="row" data-aos="fade-down">
      <div class="col-lg-4">
        <img src="../img/Riyadh_logo.jpeg" />
        <h2 onclick="location.href='/city/Riyadh'">Riyadh</h2>
        <p>the KSA’s beauty and wonder. Learn more about Riyadh’s Best Trips and Places</p>
        <p><a class="btn btn-secondary" href="/post/index">All Post »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="../img/Qassim_logo.jpeg" />
        <h2 onclick="location.href='/city/Qassim'">Qassim</h2>
        <p>land of palm trees and festivals, the fertile land making agriculture, particularly dates.</p>
        <p><a class="btn btn-secondary" href="/post/index">All Post »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="../img/yanbu_logo.jpeg" />
        <h2 onclick="location.href='/city/Yanbu'">Yanbu</h2>
        <p>Rising from the Yabbu coast, marvel of art and architecture, explore everything that Yanbu has to offer</p>
        <p><a class="btn btn-secondary" href="/post/index">All Post »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette" data-aos="fade-left">
      <div class="col-md-7">
        <h2 class="featurette-heading">Saudi, a kingdom that inspires <span class="text-muted">It’ll blow your
            mind.</span></h2>
        <p class="lead">Discover the country's hidden gems and breathtaking landscapes</p>
      </div>
      <div class="col-md-5">
        <img src="/img/Riyadh-bg.jpeg" />
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette" data-aos="fade-right">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Plan your ideal trip<span class="text-muted">Toady!</span></h2>
        <p class="lead">Experience breathtaking cliff-top views: this spectacular spot offers uninterrupted views from
          the edge of a sheer precipice.</p>
      </div>
      <div class="col-md-5">
        <img src="/img/yanbu-bg.jpg" />
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette" data-aos="fade-left">
      <div class="col-md-7">
        <h2 class="featurette-heading">Standing on the Edge of <span class="text-muted">the World.</span></h2>
        <p class="lead">Transportation, a road trip guide and other useful tips to help you plan your unforgettable trip
          to Saudi Arabia.</p>
      </div>
      <div class="col-md-5">
        <img src="../img/standing_img.jpg" />
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <div style="background-color: #edefee;">
    <div class="container py-3">
      <div class="title h1 text-center">What to do in saudi</div>
      <div class="row">
        <!-- Card Start -->
        <div class="col-md-6 col-sm-12 aos-init" data-aos="fade-up">
            <div class="row ">
              <div class="card-index">
              <div class="col-md-7 px-3">
                <div class="card-block px-6">
                  <h4 class="card-title">Saudi cuisine in Riyadh’s Restaurants </h4>
                  <p class="card-text">
                    One of the best ways to experience Riyadh’s cultural fusion is through its cuisine. Najd Village
                    combines the dining and heritage experiences </p>
                  <br>
                </div>
              </div>
              <!-- Carousel start -->
              <div class="col-md-5">
                <div id="CarouselTest" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#CarouselTest" data-slide-to="0" class="active"></li>
                    <li data-target="#CarouselTest" data-slide-to="1" class=""></li>
                    <li data-target="#CarouselTest" data-slide-to="2" class=""></li>

                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="d-block" src="../img/slide_1.jpeg" alt="">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block" src="../img/slide_2.jpeg" alt="">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block" src="../img/slide_3.jpeg" alt="">
                    </div>
                    <a class="carousel-control-prev" href="#CarouselTest" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#CarouselTest" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>
              <!-- End of carousel -->
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12 aos-init" data-aos="fade-up">
          <div class="card-index">
            <div class="row ">
              <div class="col-md-7 px-3">
                <div class="card-block px-6">
                  <h4 class="card-title">Discover family activities in Saudi </h4>
                  <p class="card-text">
                    Make a night-time trip to enjoy the illuminated spectacle of the world’s tallest fountain. </p>
                  <br>
                </div>
              </div>
              <!-- Carousel start -->
              <div class="col-md-5">
                <div id="CarouselTest" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#CarouselTest" data-slide-to="0" class="active"></li>
                    <li data-target="#CarouselTest" data-slide-to="1" class=""></li>
                    <li data-target="#CarouselTest" data-slide-to="2" class=""></li>

                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="d-block" src="../img/slide_5.webp" alt="">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block" src="../img/slide_4.jpeg" alt="">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block" src="https://picsum.photos/450/300?image=355" alt="">
                    </div>
                    <a class="carousel-control-prev" href="#CarouselTest" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#CarouselTest" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>
              <!-- End of carousel -->
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- End of card -->

  </div>
</main>